:root {
    --video-container-width: 600px;
}

* {
    overflow-y: hidden !important;
}

.app-content {
    width: 100%;
    height: calc(100vh - 3.25rem - 40px);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto !important;
}

.content-container {
    width: 100%;
}

.video-cards-container {
    display: flex;
    align-items: flex-start;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}