.cards-container {
    width: 100%;
    transition: all 0.5s ease;
    right: 0;
}

.cards-container-small {
    width: calc(100% - var(--video-container-width));
}

.card {
    margin-top: 10px;
    display: flex;
    align-items: center;
    height: 200px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.card:hover {
    background-color: rgb(240, 240, 240);
}

.card-content {
    padding: 0.5rem 1rem !important;
}

.card-image {
    width: 260px;
}