.footer {
    padding: 10px;
    font-size: 0.8em;
    height: 40px;
    width: 100%;
}

.footer-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer-section li {
    list-style: none;
    margin-left: 20px;
}

.footer-copyright {
    justify-content: flex-end;
}